@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    max-width: 500px;
    @apply m-auto;
}

[x-cloak] {
    display: none !important;
}

section {
    @apply container mx-auto px-4 py-2;
}

section p {
    @apply p-4;
}

section p.error {
    @apply text-red-600 font-bold pl-1 py-0;
}

h1 {
    @apply text-2xl w-full font-bold text-center;
}

h2 {
    @apply text-lg w-full col-span-2 italic;
}

label {
    @apply font-bold;
}

input {
    @apply px-2 ring-1 ring-slate-300 rounded shadow;
}

input.invalid {
    @apply border-red-600 border-2;
}

input:read-only {
    @apply text-slate-400 px-1 ring-1 ring-slate-300 bg-slate-200 rounded shadow outline-none;
}

textarea {
    @apply px-2 ring-1 ring-slate-300 rounded shadow;
}

.toolbar {
    @apply grid grid-cols-3 mx-2;
}

.dots {
    @apply flex gap-2;
}

.dot {
    @apply bg-sky-200 rounded-full w-4 h-4 text-white text-sm cursor-pointer;
    line-height: 16px;
    text-align: center;
}

.dot.new {
    @apply bg-green-200;
}

.dot.invalid {
    @apply bg-red-300;
}

.dot.active {
    @apply bg-sky-600;
}

.dot.active.new {
    @apply bg-green-600;
}

.dot.active.invalid {
    @apply bg-red-600;
}

.toolbar h1 {
    @apply justify-self-center font-bold text-xl;
}

.actions {
    @apply justify-self-end justify-center bg-white text-xl font-bold flex gap-2;
}

.actions .add {
    @apply text-green-600 cursor-pointer;
}

.actions .delete {
    @apply text-red-600 cursor-pointer;
}

.actions button#savebtn, .actions button#createbtn {
    @apply rounded-lg px-8 py-2 bg-sky-600 text-white font-bold text-center justify-self-end;
}

.actions button#savebtn:disabled, .actions button#createbtn:disabled {
    @apply rounded-lg px-8 py-2 bg-slate-400 text-black font-bold text-center justify-self-end;
}

.card {
    @apply container mx-auto my-1 p-2 rounded-xl border-slate-50 border-2 grid grid-cols-2 gap-y-1.5 shadow;
}

.action-wrapper {
    @apply w-full col-span-2 justify-self-end;
}